.display {
  width: 90%;
  height: 80px;
  background-color: #f9f6f6;
  color: #0a0303;
  border-radius: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.6);
}

.value {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
