.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.die_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.die_box img {
    height: 250px;
    width: 250px;
    cursor: pointer;

}
.die_box h2{
    font-size: 24px;
    font-weight: 500;
}
.sub_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.restart{
    border: 2px solid black;
    width: 220px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}
.Rules{
    border: 2px solid black;
    background-color: black;
    color: white;
    width: 220px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}