h1 {
    font-size: 45px;
    font-weight: 700;
    margin: 10px ;
    margin-bottom: 20px;

}

input {
    width: 100%;
}
.container-elements{
    text-align: left;
}

.ash{
    margin: 10px 5px;

}
.ashbutt{
    min-width: 80px;
}