.container{
    max-width: 200px;
    text-align: center;
}
.container h1{
    font-size: 100px;
    font-weight: 500;
    line-height: 100px;
}
.container p{
    font-size: 24px;
    font-weight: 500;
}