.main_container {
  background-color: #FBF1F1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 796px;
  /* height removed */
}

.main_container h2{
    font-size: 24px;
    font-weight: 700;
}

.rule ol {
  padding-left: 1.2rem;
}

.rule li {

    font-size: 16px;
    font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

