.button {
  width: 60px;
  height: 50px;
  margin: 3px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: #f2f2f2;
  cursor: pointer;
}

.button:hover {
  background-color: #ddd;
}
